:root {
  /* --black: #2B2B2B; */
  --blue: #5B5F97;
  --black: #000000;
  --white: #FFFFFB;
  --pink: #FFA69E;
}

body {
  font-family: 'Raleway', 'Acme', sans-serif;
  background: var(--blue);
  color: var(--white);
}

.vh-100 {
  height: 100vh;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 42px;
  font-family: 'Acme';
}

/*********************************/
.image-logo{
  height: 10vh;
}

.images-list {
   margin-top: 2vh;
  /* height: 15vh; */
  /* border: 1px solid red; */
  /* padding: 2vh; */
}
.images-list img {
  /* height: 15vh; */
  height: 100%;
  /* box-shadow: 5px 5px 0px #FFA69E; */
  position: relative;
}

.images-list div {
  height: 20vh;
  border: 1px solid blue;
  /* background: rgb(37, 226, 45); */
  /* display:flex; */
  /* justify-content: center;
  align-items: center; */
}

.images-list div p {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  top: 5vh;
  left: 5vh;
  right: 5vh;
  bottom: 5vh;
  width: auto;
  /* border: 1px solid blue; */
  /* background: red; */

  /* padding-top: 10vh; */
}

.col-xs-4
{
  padding-right: 0;
  /* padding-l: ;eft: 0; */
}

.img-opacity {
  opacity: 0.4;
  z-index: 0;
}
