:root {
  --black: #000000;
  --blue: #5B5F97;
  --pink: #FFA69E;
  --white: #FFFFFB;
}

/*^----- general -----^*/
body {
  background: var(--blue);
  color: var(--white);
  font-family: 'Raleway', 'Acme', sans-serif;
}

.vh-100 {
  height: 100vh;
}

.vh-10 {
  height: 10vh;
}

.hide {
  display: none;
}

/* .show {
  display:block;
} */


.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*^****** View main *****^*/
/*^----- header -----^*/
.title {
  font-size: 42px;
  font-family: 'Acme';
}

/*^----- section of the map -----^*/
#googleMap {
  height: 150px;
}

/*^----- section of images  -----^*/
.images-list {
   margin-top: 2vh;
}

.images-list img {
  height: 100%;
  position: relative;
}

.images-list div {
  height: 20vh;
  border: 1px solid blue;
}

.images-list div p {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  top: 5vh;
  left: 5vh;
  right: 5vh;
  bottom: 5vh;
  width: auto;
}

.img-opacity {
  opacity: 0.4;
  z-index: 0;
}

/*^----- modal of the images  -----^*/
#myModal {
  color: var(--black);
}
