<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foodmap</title>
  <link href="https://fonts.googleapis.com/css?family=Acme|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vh-100">
  <!-- header -->
  <header class="container text-center">
    <h3 class="">Foodmap</h3>
    <hr>
  </header>
  <!-- section of the map -->
  <section class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="googleMap"></div>
      </div>
    </div>
  </section>
  <!-- section of images -->
  <section class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Comida cerca de ti</h3>
        <div class="input-group">
          <input type="text" class="form-control input-type-food" placeholder="Tipo de comida ej. comida marina..." autofocus>
          <span class="input-group-btn">
            <button class="btn btn-default btn-search-type-food" type="button "><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
        <div class="row images-list">
        </div>
      </div>
    </div>
  </section>
  <!-- modal of the images -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-uppercase" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 modal-photo">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 modal-address"></div>
              <div class="col-xs-6 modal-detalles"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-lowercase">pedir ahora</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../vendors/lib/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXKe14xW7zJYuAMGijqniuaWbLFL121M4&callback=myMap"></script>
  <script src="../js/data.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>
